.photo{
    width: 180px;
    height: 150px;
    float: left;
    margin: 5px;
}

.post{
    border-style: solid;
    border-color: gray;
    margin: 10px;
    width: 90%;
    float: left;
}

.container{
    max-width: 900px;
}

.link{
    float: left;   
}
