.photo{
    width: 180px;
    height: 150px;
    float: left;
    border-radius: 10px;
    margin: 5px;
    margin-right: 15px;
}


.post{
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 15px;
    margin-bottom: 1.5%;
    padding: 10px;
    width: 100%;
    float: left;
}

.comPost{
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    float: left;
}

.container{
    max-width: 900px;
}

.postForm{
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 15px;
    margin-bottom: 4%;
    padding: 10px;
    width: 100%;
    float: left;    
}

.commentForm{
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    float: left;    
}


.adcontainer{
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 3%;
    width: 100%;
}

.adimg{
    border-radius: 10px;
    margin: 0.1%;
    width: 100%;
}

.formButtons{
    text-align: center;
}

.comment{
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    float: left;
}

.docBody{
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #E7E7E7;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

h3{
    color: #777;
}

#docImg1{
    margin-left: 5%;   
}
#docImg2{
    margin-left: 13%;   
}

.searchBar{
    margin-top: 10px;
}